{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">

    <div class="card shadow p-4">

        <h2 class="text-center text-danger mb-4">
            🎟 Movie Ticket
        </h2>

        <div class="row">

            <!-- Poster -->
            <div class="col-md-4 text-center">
                {% if booking.show.movie.image %}
    <img src="{{ booking.show.movie.image.url }}"
         class="img-fluid rounded"
         style="max-height:300px;">
{% else %}
    <p>No Image Available</p>
{% endif %}
            </div>

            <!-- Details -->
            <div class="col-md-8">

                <p><strong>Booking ID:</strong> #{{ booking.id }}</p>

                <p><strong>Movie:</strong>
                    {{ booking.show.movie.title }}
                </p>

                <p><strong>Theatre:</strong>
                    {{ booking.show.theatre.name }}
                </p>

                <p><strong>Location:</strong>
                    {{ booking.show.theatre.location }}
                </p>

                <p><strong>Show Time:</strong>
                    {{ booking.show.show_time }}
                </p>

                <p><strong>Seat:</strong>
                    {{ booking.seat_number }}
                </p>

                <p><strong>Total Paid:</strong>
                    ₹{{ booking.price }}
                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}